<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="icon" href="/images/map.png">
  <title>My Destinations</title>
</head>

<body>
  <%- include ("../partials/_navbar.ejs") %>

  <h1 class="all-destinations-header">Your Destinations</h1>
  <!-- <div class="all-destinations-container"> -->
  <ul class="all-destinations-container">
    <% destinations.forEach((destination) => { %>
    <li>
      <a class="destination-link" href="/destinations/<%= destination._id %>">
        <div class="small-destination">

          <% if (destination.randomPhoto) { %>
          <img src="<%= destination.randomPhoto %>" alt="<%= destination.randomPhotoAlt %>">
          <% } %>
          <div class="small-destination-info">
            <h2 class="small-location"><%= destination.location %></h2>
            <p class="small-notes"><%= destination.notes %></p>
            <br>
            <% if (destination.hasBeenVisited)  { %>
            <p>You've been here!</p> <% } else { %>
            <p>Trip Wish List</p>
            <% } %>
          </div>
        </div>
      </a>
    </li>
    <% }); %>
  </ul>
  <!-- </div> -->

  <a href="/destinations/new" class="add-new">Add a New Destination</a>
</body>

</html>